# Leave visual studio settings out of the way
.vs/
*.vcxproj
*.vcxproj.filters

# Ignore cmake generator files created at build time
*.cmake
*.stamp
*.stamp.depend

# Do not track builds or installations
[Bb]uild/
[Ii]nstall/